
# Python
__pycache__/
*.py[cod]
*$py.class
*.env
venv/
.venv/

# Streamlit
.streamlit/ secrets.toml

# IDE
.vscode/
.idea/

# Distribution
dist/
build/
*.egg-info/

# Frontend
node_modules/
.next/
out/
